<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="trafficInfoDisplay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="trafficInfoDisplay.Properties.Settings.mmdametrobaseConnectionString"
            connectionString="server=localhost;user id=root;password=mmdametrobase;persistsecurityinfo=True;database=mmdametrobase"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <trafficInfoDisplay.Properties.Settings>
            <setting name="DBServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DBServerUID" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DBServerPWD" serializeAs="String">
                <value>mmdametrobase</value>
            </setting>
            <setting name="DBServerName" serializeAs="String">
                <value>mmdametrobase</value>
            </setting>
            <setting name="DevID" serializeAs="String">
                <value />
            </setting>
            <setting name="RoadID" serializeAs="String">
                <value>A10NB</value>
            </setting>
            <setting name="TSAPI" serializeAs="String">
                <value />
            </setting>
            <setting name="AdInterval" serializeAs="String">
                <value />
            </setting>
            <setting name="NotificationInterval" serializeAs="String">
                <value />
            </setting>
            <setting name="AdvisoryInterval" serializeAs="String">
                <value />
            </setting>
            <setting name="roadID1" serializeAs="String">
                <value />
            </setting>
            <setting name="roadID2" serializeAs="String">
                <value />
            </setting>
            <setting name="roadID3" serializeAs="String">
                <value />
            </setting>
            <setting name="trafficStat1" serializeAs="String">
                <value />
            </setting>
            <setting name="trafficStat2" serializeAs="String">
                <value />
            </setting>
            <setting name="trafficStat3" serializeAs="String">
                <value />
            </setting>
            <setting name="weatherStat1" serializeAs="String">
                <value />
            </setting>
            <setting name="weatherStat2" serializeAs="String">
                <value />
            </setting>
            <setting name="weatherStat3" serializeAs="String">
                <value />
            </setting>
            <setting name="advisory1" serializeAs="String">
                <value />
            </setting>
            <setting name="advisory2" serializeAs="String">
                <value />
            </setting>
            <setting name="advisoryID" serializeAs="String">
                <value />
            </setting>
            <setting name="advertID" serializeAs="String">
                <value />
            </setting>
        </trafficInfoDisplay.Properties.Settings>
    </userSettings>
</configuration>